streamlit
llama-index-core 
llama-index-llms-openai 
llama-index-embeddings-huggingface 
llama-index-readers-file 
llama-index-llms-azure-openai
pyyaml
setuptools
openai
html2text
requests-html
nest-asyncio
sentence-transformers
python-dotenv
lxml_html_clean
playwright
playwright-stealth
llama-index-vector-stores-qdrant
# OpenAI's CLIP
git+https://github.com/openai/CLIP.git

#Qdrant Vector Database Client
qdrant-client

# Dependencies often required for CLIP processing
torch
torchvision
pillow
ftfy
regex
tqdm